footer {
   height: 5vh;
   width: 100%;
   bottom: 0px;
   left: 0px;
   background-color: white;
   position: fixed;
   justify-content: space-between;
   display: flex;
}

.company {
   margin-left: 10px;
   font-style: italic;
}

.copywrite {
   margin-right: 10px;
   font-style: italic;
}

